:root {
	--brightOrange: hsl(31, 77%, 52%);
	--darkCyan: hsl(184, 100%, 22%);
	--veryDarkCyan: hsl(179, 100%, 13%);
	--transparentWhite: hsla(0, 0%, 100%, 0.75); /* paragraphs */
	--veryLightGray: hsl(0, 0%, 95%); /* background, heading, buttons */

	--ff-heading: "Big Shoulders Display", cursive;
	--ff-body: "Lexend Deca", sans-serif;

	font-size: 15px;
	font-weight: 400;
	font-family: var(--ff-body);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 1.5;
	background-color: var(--veryLightGray);
}
button {
	font-size: 15px;
	font-weight: 400;
	font-family: var(--ff-body);
}

.card {
	min-height: 500px;
	width: 920px;
	display: flex;
	border-radius: 8px;
	overflow: hidden;
}
.cl {
	flex: calc(100 / 3);
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#cl-1 {
	background-color: var(--brightOrange);
}
#cl-2 {
	background-color: var(--darkCyan);
}
#cl-3 {
	background-color: var(--veryDarkCyan);
}
#cl-1 .cl-cta {
	color: var(--brightOrange);
}
#cl-2 .cl-cta {
	color: var(--darkCyan);
}
#cl-3 .cl-cta {
	color: var(--veryDarkCyan);
}

.cl-title {
	margin: 35px 0;
	text-transform: uppercase;
	color: var(--veryLightGray);
	font-weight: 700;
	font-size: 40px;
	font-family: var(--ff-heading);
}

.cl-desc {
	font-size: 15px;
	font-weight: 400;
	font-family: var(--ff-body);
	color: var(--transparentWhite);
}

.cl-cta {
	padding: 15px;
	border-radius: 25px;
	border: 2.5px solid var(--veryLightGray);
	background-color: var(--veryLightGray);
	margin-top: 75px;
}

#cl-1 .cl-cta:hover,
#cl-2 .cl-cta:hover,
#cl-3 .cl-cta:hover {
	background-color: transparent;
	color: var(--veryLightGray);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
	.card {
		width: 327px;
		flex-direction: column;
		margin: 100px auto 100px;
	}
	.cl-title {
		margin: 20px 0;
	}
	.cl-cta {
		margin-top: 35px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.card {
		width: 690px;
		margin-block: 100px;
	}
	.cl {
		padding: 30px;
	}
}

/* @media (max-width: 1024px) {
	.card {
		flex-direction: column;
		margin: 100px auto 100px;
	}
} */
