:root {
	--brightOrange: hsl(31, 77%, 52%);
	--darkCyan: hsl(184, 100%, 22%);
	--veryDarkCyan: hsl(179, 100%, 13%);
	--transparentWhite-paragraphs: hsla(0, 0%, 100%, 0.75);
	--veryLightGray-background-headings-buttons: hsl(0, 0%, 95%);
	--bigShouldersDisplay: "Big Shoulders Display", cursive;
	--lexendDeca: "Lexend Deca", sans-serif;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	width: 100vw;
	background-color: var(--veryLightGray-background-headings-buttons);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.card {
	width: 70%;
	/* position: absolute;
	margin: auto;
	inset: 0; */
	display: flex;
	border-radius: 15px;
}
.cl {
	flex: calc(100 / 3);
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#cl-1 {
	background-color: var(--brightOrange);
}
#cl-2 {
	background-color: var(--darkCyan);
}
#cl-3 {
	background-color: var(--veryDarkCyan);
}
#cl-1 .cl-cta {
	color: var(--brightOrange);
}
#cl-2 .cl-cta {
	color: var(--darkCyan);
}
#cl-3 .cl-cta {
	color: var(--veryDarkCyan);
}
.cl-title {
	font-family: var(--bigShouldersDisplay);
	font-weight: 700;
	font-size: 20px;
	color: var(--veryLightGray-background-headings-buttons);
	text-transform: uppercase;
	margin: 35px 0;
}
.cl-desc {
	font-family: var(--lexendDeca);
	font-weight: 400;
	font-size: 15px;
	color: var(--transparentWhite-paragraphs);
}
.cl-cta {
	padding: 15px;
	border-radius: 25px;
	border: 1px solid var(--veryLightGray-background-headings-buttons);
	background-color: var(--veryLightGray-background-headings-buttons);
	font-family: var(--lexendDeca);
	font-family: var(--lexendDeca);
	font-weight: 400;
	font-size: 15px;
	margin-top: 75px;
}
#cl-1 .cl-cta:hover,
#cl-2 .cl-cta:hover,
#cl-3 .cl-cta:hover {
	background-color: transparent;
	color: var(--veryLightGray-background-headings-buttons);
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 900px) {
	.card {
		margin: 100px auto 100px;
		width: 80%;
		flex-direction: column;
	}
}
